@import 'tailwindcss';
@import "tw-animate-css";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .progress-bar {
    height: 10px;

    &::-webkit-progress-bar {
      background-color: var(--color-primary-dark, currentColor);
    }
    &::-webkit-progress-value {
      background-color: var(--color-primary, currentColor);
      border-radius: var(--radius-lg);
    }
  }

  .little-card {
    height: 75px;
    width: 100%;
    background-color: var(--color-primary-dark, currentColor);
    display: flex;
    align-items: center;
    gap: calc(var(--spacing)* 2);
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-sm)
  }

  .little-card-small {
    height: 50px;
    width: 100%;
    background-color: var(--color-primary-dark, currentColor);
    display: flex;
    align-items: center;
    gap: calc(var(--spacing)* 2);
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-sm)
  }

  .card {
    height: 200px;
    width: 100%;
    background-color: var(--color-primary-dark, currentColor);
    border-radius: var(--radius-sm);
    padding: calc(var(--spacing) * 2);
    display: flex;
    flex-direction: column;

    & > .card-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      justify-content: space-between;

      & h2 {
        font-size: var(--text-xl);
      }
      & h4 {
        font-size: var(--text-sm);
        font-weight: var(--font-weight-normal);
      }
    }

    & > .card-content {
      flex: 1;
      overflow: hidden;
    }

    & > .card-actions {
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      gap: calc(var(--spacing) * 2);
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--color-primary-dark, currentColor);
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .four-options {
    & > button:first-child {
      @apply rounded-tl-md! border-2!;
    }
    & > button:nth-child(2) {
      @apply rounded-tr-md! border-t-2! border-r-2! border-b-2!;
    }
    & > button:nth-child(3) {
      @apply rounded-bl-md! border-l-2! border-r-2! border-b-2!;
    }
    & > button:nth-child(4) {
      @apply rounded-br-md! border-b-2! border-r-2!;
    }
  }
}

@theme {
  --color-tertiary: #61A37C;

  --color-muted: var(--color-gray-300);

  --color-primary-light: rgba(157, 167, 193, .4);
  --color-primary-dark: rgba(255, 255, 255, 0.2);
  --color-primary-darker: rgba(255, 255, 255, 0.1);

  --color-breakfast: #522504;
  --color-launch: #828282;
  --color-after-launch: #EB4E51;
  --color-dinner: #4F4F4F;

  --color-success: var(--color-green-700);
  --color-success-tint: var(--color-green-200);

  --color-warning: var(--color-yellow-400);
  --color-warning-tint: var(--color-yellow-200);

  --color-danger: var(--color-red-700);
  --color-danger-tint: var(--color-red-300);

}

/*
  ---break---
*/

:root {
  --radius: 0.625rem;
  --background: transparent;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: white;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #A385F4;
  --secondary-foreground: white;
  --muted: var(--color-gray-300);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-primary-dark);
  --accent-foreground: white;
  --destructive: var(--color-danger);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: white;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #A385F4;
  --sidebar-accent-foreground: white;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: white;
  --card-foreground: oklch(0.985 0 0);
  --popover: white;
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: white;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: var(--color-gray-300);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: white;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*
  ---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}